.newstitle{
	color:blue;
	font-size: 30px;
	font-weight: bold;
}

.littletitle{
	color:orange;
	font-size:20px;
}

/*.newpic{
	border: solid 10px;
	display: block;
	align-items: center;
}*/

.bigtitle{
	color:blue;
}